@using WashMachine.Business.Models
@model CouponReportDataModel
@{
    ViewData["Title"] = "Coupon Reports";
}
<style>
    #coupon_list_wrapper {
        padding: 0px !important;
    }
</style>
<div class="mannager-content">
    <div class="row">
        <div class="col-md-12">
            <form id="filter_form" action="/administrator/reports/coupon" method="get">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search criteria</h5>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <input class="form-control" name="Filter.@(nameof(Model.Filter.SearchCriteria))" maxlength="500" value="@Model.Filter.SearchCriteria" placeholder="Coupon Code, Shop Name, Shop Code..." />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <label for="FromDate">From Date</label>
                                <input id="FromDate" name="Filter.@(nameof(Model.Filter.FromDate))" class="form-control datepicker" type="text" value="@Model.Filter.FromDate" placeholder="From date" autocomplete="off" />
                            </div>
                            <div class="col-md-6">
                                <label for="FromDate">To Date</label>
                                <input id="ToDate" name="Filter.@(nameof(Model.Filter.ToDate))" class="form-control datepicker" type="text" value="@Model.Filter.ToDate" placeholder="To date" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <label for="ShopCode">Shop Code</label>
                                @Html.DropDownList($"Filter.{nameof(Model.Filter.ShopCode)}", Model.Filter.ShopCodeList.Select(s=> new SelectListItem()
                                {
                                    Text = s,
                                    Value = s,
                                    Selected = s.Equals(Model.Filter.ShopCode)
                                }).ToList(), "---Select an option---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div style="float:right;" class="pull-right">
                                    <button type="button" onclick="clearFilter()" class="btn btn-secondary"><i class="fa fa-redo"></i> Clear </button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5><i class="fas fa-barcode"></i> Coupons</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Total: @(Model.Total)</h6>
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            <button type="button" class="btn btn-success text-white" id="btn_export_excel"><i class="fas fa-file-excel"></i> Export </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="coupon_list">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Shop Code</th>
                                        <th>Shop Name</th>
                                        <th>Coupon Code</th>
                                        <th>Amount</th>
                                        <th>Is Used</th>
                                        <th>Used Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                        foreach (CouponModel coupon in Model.Coupons)
                                        {
                                            <tr>
                                                <td>@index</td>
                                                <td>@coupon.ShopCode</td>
                                                <td>@coupon.ShopName</td>
                                                <td>@coupon.Code</td>
                                                <td>@coupon.Discount</td>
                                                <td>@(coupon.IsUsed ? "Used" : "No")</td>
                                                <td>@(coupon.UsedDate.ToString("MM/dd/yyyy hh:mm:ss tt"))</td>
                                            </tr>
                                            index += 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#coupon_list').DataTable({
            searching: false,
            dom: 'rtip',
            info: false
        });

        $('#btn_export_excel').click(function () {
            var data = $('#filter_form').serializeArray();

            $.ajax({
                type: "POST",
                url: "/administrator/reports/CouponExportToExcel",
                xhrFields: {
                    responseType: 'blob'
                },
                data: data,
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = 'CouponReport.xlsx';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            });
        });
    });

    function clearFilter() {
        $('#filter_form input').val('');
        $('#filter_form select').val('');
        $('#filter_form').submit();
    }
</script>