@model WashMachine.Business.Models.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
    <link rel="alternate" href="http://house/lien-he" hreflang="vi-vn" />
    <link rel="canonical" href="http://house/lien-he" />

    <meta property="og:url" content="http://house/lien-he" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="~/cdn/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/cdn/css/style.css" rel="stylesheet" />
    <link href="~/css/boxcut.css" rel="stylesheet" />
    <link href="~/lib/selection/selectionstyle.css" rel="stylesheet" />
    <link href="~/css/manager.css" rel="stylesheet" />
    <link href="~/css/error.css" rel="stylesheet" />

    <script src="~/cdn/jquery/jquery.min.js"></script>
    <link href="~/cdn/jquery/jquery-ui.css" rel="stylesheet" />
    <script src="~/cdn/jquery/jquery-1.12.4.js"></script>
    <script src="~/cdn/jquery/jquery-ui.js"></script>
    <script src="~/cdn/js/fix-ie.js"></script>
    <script src="~/cdn/js/utilities.js"></script>
    <script src="~/cdn/js/posting.js"></script>
    <script src="~/cdn/js/unorm.js"></script>
    <script src="~/cdn/js/form-helper.js"></script>

    <script src="~/cdn/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/cdn/jquery-validate/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/cdn/popper.min.js"></script>
    <script src="~/cdn/bootstrap/bootstrap.min.js"></script>

    <link href="~/lib/gritter-notification/css/jquery.gritter.css" rel="stylesheet" />
    <script src="~/lib/gritter-notification/js/jquery.gritter.js"></script>
    <script src="~/lib/gritter-notification/js/gritter.js"></script>

    <script src="~/lib/selection/selection.js"></script>
    <script src="~/js/boxcut.js?"></script>

</head>
<body data-message="@TempData["Message"]">
    <div class="container">
        <div class="login-area" style="text-align:center;border:none;">

            <div class="form-editor top-30">
                <form class="form-area" autocomplete="off" enctype="multipart/form-data" method="post" action="/resetpassword" novalidate="novalidate">
                    <h2 style="text-align:center;">RESET PASSWORD</h2>
                    @Html.HiddenFor(m=>m.Data)
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8 form-item">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", autocomplete = "off", type = "email", ReadOnly = "true" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">New Password</label>
                        <div class="col-sm-8 form-item">
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", autocomplete = "off", placeholder = "New Password", type = "password" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Retype Password</label>
                        <div class="col-sm-8 form-item">
                            @Html.TextBoxFor(model => model.RetypePassword, new { @class = "form-control", autocomplete = "off", placeholder = "Retype password", type = "password" })
                            @Html.ValidationMessageFor(model => model.RetypePassword)
                        </div>
                    </div>

                    <div class="form-button">
                        <button id="submitreset" type="submit"><i class="far fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>



