@model UserManagerModel
@{
    ViewData["Title"] = "Users";
    ViewBag.PageType = PageTypes.ListUsers;
    var systemInfo = Context.GetSystemInfo();
}
<style>
    #user_list_wrapper {
        padding: 0px !important;
    }
</style>
<div class="mannager-content">
    <div class="row">
        <div class="col-md-12">
            <form id="filter_form" action="/administrator/access/listusers" method="get">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search criteria</h5>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <input class="form-control" name="Filter.@(nameof(Model.Filter.SearchCriteria))" maxlength="500" value="@Model.Filter.SearchCriteria" placeholder="Email, Username, Full Name..." />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <label for="FromDate">From Date</label>
                                <input id="FromDate" name="Filter.@(nameof(Model.Filter.FromDate))" class="form-control datepicker" type="text" value="@Model.Filter.FromDate" placeholder="From date" autocomplete="off" />
                            </div>
                            <div class="col-md-6">
                                <label for="FromDate">To Date</label>
                                <input id="ToDate" name="Filter.@(nameof(Model.Filter.ToDate))" class="form-control datepicker" type="text" value="@Model.Filter.ToDate" placeholder="To date" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div style="float:right;" class="pull-right">
                                    <button type="button" onclick="clearFilter()" class="btn btn-secondary"><i class="fa fa-redo"></i> Clear </button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5><i class="mdi mdi-account-key"></i> Users</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Total: @(Model.Total)</h6>
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            <button class="btn btn-primary text-white" onclick="location.href='/administrator/access/usereditor?backlink=@Html.GetUriEncode()'"><i class="fas fa-plus-circle"></i> Create user</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="user_list">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Email</th>
                                        <th>Full name</th>
                                        <th>Address</th>
                                        <th>Type</th>
                                        <th>Shop Owner</th>
                                        <th>Testing mode</th>
                                        <th>Created Date</th>
                                        <th width="120">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                        foreach (var item in Model.Users)
                                        {
                                            <tr>
                                                <td>@index</td>
                                                <td>@item.Email</td>
                                                <td>@item.FullName</td>
                                                <td>@item.Address</td>
                                                <td>@(item.UserType == 1 ? "Admin" : "Shop Owner")</td>
                                                <td>@(item.ShopOwner?.Code)</td>
                                                <td>@(item.TestingMode == 1 ? "ON" : "OFF")</td>
                                                <td>@(item.InsertTime?.ToString("MM/dd/yyyy hh:mm:ss tt"))</td>
                                                <td>
                                                    @if (systemInfo.User.IsAdmin)
                                                    {
                                                        <a class="grid-button" title="Edit User" href="/administrator/access/usereditor/@item.Id?backlink=@Html.GetUriEncode()"><i class="fas fa-edit"></i></a>
                                                        if (systemInfo.User.Id != item.Id)
                                                        {
                                                            <button class="btn" title="Delete User" onclick="deleteItem('/administrator/access/DeleteUser/@item.Id','/administrator/access/listusers')" style="color:red"><i class="fas fa-trash"></i></button>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#user_list').DataTable({
            searching: false,
            dom: 'rtip',
            info: false
        });
    });

    function clearFilter() {
        $('#filter_form input').val('');
        $('#filter_form select').val('');
        $('#filter_form').submit();
    }
</script>


