@model Libraries.DataList<WashMachine.Business.Models.UserModel>
@{
    ViewData["Title"] = "ListUsers";
    ViewBag.PageType = PageTypes.ListUsers;
    var filter = (Libraries.ParamFilter)ViewBag.Filter;
    if(filter == null)
    {
        filter = new Libraries.ParamFilter();
    }
    var systemInfo = Context.GetSystemInfo();
    Layout = null;
}

<div class="filter_area">
    <div class="row manager-search">
        <div class="col-12 search-form">
            <div class="input-group ">
                <input type="hidden" name="Exclude" value="@filter.Exclude" />
                <input type="hidden" name="Include" value="@filter.Include" />
                <input name="Keyword" type="text" placeholder="Enter the keywords" value="@filter.Keyword" class="form-control form-control-lg">
                <div class="input-group-btn">
                    <button class="btn btn-lg btn-primary" onclick="executeSearch()"><i class="fas fa-search"></i> Search </button>
                </div>
            </div>
        </div>
    </div>
    <div class="manager-list" data-url-refresh="/administrator/access/ListNormalUsers/">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Email</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.Id">
                        <td>@Model.GetNo(item)</td>
                        <td>@item.Email</td>
                        <td>@item.FullName</td>
                        <td>
                            <div class="col-md-2 ">
                                <a href="javascript:;" class="grid-button add-user" onclick="addShopUser()"><i class="fas fa-plus-circle"></i></a>
                                <a href="javascript:;" class="grid-button remove-user" onclick="removeShopUser()"><i class="fas fa-minus-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


