@using WashMachine.Web
@{
    var userInfo = Context.GetUserInfo();
    var version = DateTime.Now.ToString("MMdd");
    var systemInfo = Context.GetSystemInfo();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wash Machine System</title>
    <title>@ViewData["Title"] - WashMachine.Web</title>
    <meta meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name='keywords' content='' />
    <meta name='description' content='' />
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="icon" type="image/png" sizes="16x16" href="/theme/matrix-admin/assets/images/washmachine-favicon.png">
    <link href="/theme/matrix-admin/dist/css/style.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .bg-light {
            background-color: #ffffff !important;
        }

        body {
            background-color: #eeeeee !important;
        }

        .preloader {
            background: #7777772b !important;
        }

        .field-validation-error {
            color: red;
        }

        label.required:after {
            content: ' *';
            color: red;
        }

        select.form-control {
            -webkit-appearance: auto !important;
            appearance: auto !important;
        }
    </style>
    <script src="/theme/matrix-admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/theme/matrix-admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin/backend.js?v=@version"></script>

    <link href="~/cdn/jquery/jquery-ui.css" rel="stylesheet" />
    <script src="~/cdn/jquery/jquery-ui.js"></script>
    <script src="~/cdn/js/fix-ie.js"></script>
    <script src="~/cdn/js/utilities.js?v=@version"></script>
    <script src="~/cdn/js/posting.js?v=@version"></script>
    <script src="~/cdn/js/unorm.js?v=@version"></script>
    <script src="~/cdn/js/form-helper.js?v=@version"></script>
    <script src="~/js/style.js?v=@version"></script>
    <script src="~/cdn/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/cdn/jquery-validate/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/cdn/popper.min.js"></script>

    <link href="~/lib/gritter-notification/css/jquery.gritter.css" rel="stylesheet" />
    <script src="~/lib/gritter-notification/js/jquery.gritter.js"></script>
    <script src="~/lib/gritter-notification/js/gritter.js"></script>
    <script src="/theme/matrix-admin/assets/extra-libs/DataTables/datatables.min.js?v=@version"></script>
    @RenderSection("Styles", required: false)
</head>
<body data-message="@TempData.GetMessage()" class="vh100">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark" style="border-bottom: 1px solid #333">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="navbar-brand" href="/" style="justify-content:center;">
                        @if (systemInfo.User.IsAdmin)
                        {
                            <h3 class="logo-text">
                                <i class="fab fa-rockrms"></i> Admin Panel
                            </h3>
                        }
                        else
                        {
                            <h3 class="logo-text">
                                <i class="fab fa-rockrms"></i> Shop Panel
                            </h3>
                        }
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-start me-auto">
                    </ul>
                    <ul class="navbar-nav float-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/theme/matrix-admin/assets/images/users/d1.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">
                                    Your Email: @systemInfo.User.Email
                                </a>
                                @if (systemInfo.User.IsAdmin == false)
                                {
                                    <a class="dropdown-item" href="#">
                                        Shop Infor: @systemInfo.User.ShopOwner?.Code - @systemInfo.User.ShopOwner?.ShortName
                                    </a>
                                }

                                <a class="dropdown-item" href="/administrator/access/profile">
                                    <i class="me-1 ms-1"></i> Profile
                                </a>
                                <a class="dropdown-item" href="/administrator/access/changepassword">
                                    <i class="me-1 ms-1"></i> Change password
                                </a>

                                <div class="dropdown-divider"></div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="/logout">
                                        <i class="fa fa-power-off me-1 ms-1"></i> Logout
                                    </a>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            @Html.Partial("../Shared/Partials/_AdminMenu.cshtml")
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">@ViewData["Title"]</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/js/admin/backend-common.js"></script>
    @RenderSection("Scripts", required: false)
    <div id="modal-placeholder"></div>
    <div id="modal-placeholder2"></div>
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Notification</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-del" onclick="requestDelete()" class="btn active" data-dismiss="modal">
                        <i class="fa fa-check" aria-hidden="true"></i> OK
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(".preloader").fadeOut();
        $(document).on("click", 'a[role="tab"]', function () {
            var id = $(this).attr('tab');
            $(id).parents('.tab-content:first').find('.tab-pane').hide();
            $(id).show();

            $(this).parents('.nav-tabs:first').find('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    </script>
</body>
</html>
